.container {
    /* background: linear-gradient(180deg, rgba(61,61,61,1) 50%, rgba(31,31,31,1) 100%); */
    display: flex;
    
}

.body {
    background: linear-gradient(180deg, rgba(61,61,61,1) 50%, rgba(31,31,31,1) 100%);
    height: 100%;
}

#catdoglogo {
    height: 80px;
    width: 120px;
    margin: 5px 10px 0 20px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.header {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: auto 20px 10px 20px;
    font-family: 'Lato', sans-serif;
}

.nav a {
    margin: 5px;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    color: #2A5365;
}

.nav a:hover {
    background-color: #2A5365;
    color: #A6D1D2;
    padding: 10px;
    border-radius: 10px;
}

.body {
    background: linear-gradient(180deg, rgba(61,61,61,1) 50%, rgba(31,31,31,1) 100%);
    height: 100vh;
    width: 100vw;
}

